In [1]:
import pandas as pd
import numpy as np

# New Section

In [2]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/rejected_2007_to_2018q4.csv/rejected_2007_to_2018Q4.csv')
df.shape

(27648741, 9)

In [3]:
df1 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/accepted_2007_to_2018q4 (1).csv/accepted_2007_to_2018Q4.csv')
df1.shape

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

(2260701, 151)

In [4]:
df.head()

   Amount Requested Application Date  ... Employment Length  Policy Code
0            1000.0       2007-05-26  ...           4 years          0.0
1            1000.0       2007-05-26  ...          < 1 year          0.0
2           11000.0       2007-05-27  ...            1 year          0.0
3            6000.0       2007-05-27  ...          < 1 year          0.0
4            1500.0       2007-05-27  ...          < 1 year          0.0

[5 rows x 9 columns]

In [5]:
df.columns

Index(['Amount Requested', 'Application Date', 'Loan Title', 'Risk_Score',
       'Debt-To-Income Ratio', 'Zip Code', 'State', 'Employment Length',
       'Policy Code'],
      dtype='object')

In [6]:
df1.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [8]:
df1.head()

         id  member_id  ...  settlement_percentage  settlement_term
0  68407277        NaN  ...                    NaN              NaN
1  68355089        NaN  ...                    NaN              NaN
2  68341763        NaN  ...                    NaN              NaN
3  66310712        NaN  ...                    NaN              NaN
4  68476807        NaN  ...                    NaN              NaN

[5 rows x 151 columns]

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Columns: 151 entries, id to settlement_term
dtypes: float64(113), object(38)
memory usage: 2.5+ GB

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27648741 entries, 0 to 27648740
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Amount Requested      float64
 1   Application Date      object
 2   Loan Title            object
 3   Risk_Score            float64
 4   Debt-To-Income Ratio  object
 5   Zip Code              object
 6   State                 object
 7   Employment Length     object
 8   Policy Code           float64
dtypes: float64(3), object(6)
memory usage: 1.9+ GB

In [11]:
df1.describe()

       member_id     loan_amnt  ...  settlement_percentage  settlement_term
count        0.0  2.260668e+06  ...           34246.000000     34246.000000
mean         NaN  1.504693e+04  ...              47.780365        13.191322
std          NaN  9.190245e+03  ...               7.311822         8.159980
min          NaN  5.000000e+02  ...               0.200000         0.000000
25%          NaN  8.000000e+03  ...              45.000000         6.000000
50%          NaN  1.290000e+04  ...              45.000000        14.000000
75%          NaN  2.000000e+04  ...              50.000000        18.000000
max          NaN  4.000000e+04  ...             521.350000       181.000000

[8 rows x 113 columns]

In [12]:
df.describe()

       Amount Requested    Risk_Score   Policy Code
count      2.764874e+07  9.151111e+06  2.764782e+07
mean       1.313324e+04  6.281721e+02  6.375113e-03
std        1.500964e+04  8.993679e+01  1.127368e-01
min        0.000000e+00  0.000000e+00  0.000000e+00
25%        4.800000e+03  5.910000e+02  0.000000e+00
50%        1.000000e+04  6.370000e+02  0.000000e+00
75%        2.000000e+04  6.750000e+02  0.000000e+00
max        1.400000e+06  9.900000e+02  2.000000e+00

In [13]:
df1.isnull()

            id  member_id  ...  settlement_percentage  settlement_term
0        False       True  ...                   True             True
1        False       True  ...                   True             True
2        False       True  ...                   True             True
3        False       True  ...                   True             True
4        False       True  ...                   True             True
...        ...        ...  ...                    ...              ...
2260696  False       True  ...                   True             True
2260697  False       True  ...                  False            False
2260698  False       True  ...                   True             True
2260699  False       True  ...                   True             True
2260700  False       True  ...                   True             True

[2260701 rows x 151 columns]

In [14]:
df1.isnull().count

<bound method DataFrame.count of             id  member_id  ...  settlement_percentage  settlement_term
0        False       True  ...                   True             True
1        False       True  ...                   True             True
2        False       True  ...                   True             True
3        False       True  ...                   True             True
4        False       True  ...                   True             True
...        ...        ...  ...                    ...              ...
2260696  False       True  ...                   True             True
2260697  False       True  ...                  False            False
2260698  False       True  ...                   True             True
2260699  False       True  ...                   True             True
2260700  False       True  ...                   True             True

[2260701 rows x 151 columns]>

In [15]:
df1.isnull().sum(axis = 0)

id                             0
member_id                2260701
loan_amnt                     33
funded_amnt                   33
funded_amnt_inv               33
                          ...
settlement_status        2226455
settlement_date          2226455
settlement_amount        2226455
settlement_percentage    2226455
settlement_term          2226455
Length: 151, dtype: int64

In [16]:
df1.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2260701 entries, 0 to 2260700
Data columns (total 151 columns):
 #   Column                                      Non-Null Count    Dtype
---  ------                                      --------------    -----
 0   id                                          2260701 non-null  object
 1   member_id                                   0 non-null        float64
 2   loan_amnt                                   2260668 non-null  float64
 3   funded_amnt                                 2260668 non-null  float64
 4   funded_amnt_inv                             2260668 non-null  float64
 5   term                                        2260668 non-null  object
 6   int_rate                                    2260668 non-null  float64
 7   installment                                 2260668 non-null  float64
 8   grade                                       2260668 non-null  object
 9   sub_grade                                   2260668 non-null  object
 10  emp_title                                   2093699 non-null  object
 11  emp_length                                  2113761 non-null  object
 12  home_ownership                              2260668 non-null  object
 13  annual_inc                                  2260664 non-null  float64
 14  verification_status                         2260668 non-null  object
 15  issue_d                                     2260668 non-null  object
 16  loan_status                                 2260668 non-null  object
 17  pymnt_plan                                  2260668 non-null  object
 18  url                                         2260668 non-null  object
 19  desc                                        126067 non-null   object
 20  purpose                                     2260668 non-null  object
 21  title                                       2237343 non-null  object
 22  zip_code                                    2260667 non-null  object
 23  addr_state                                  2260668 non-null  object
 24  dti                                         2258957 non-null  float64
 25  delinq_2yrs                                 2260639 non-null  float64
 26  earliest_cr_line                            2260639 non-null  object
 27  fico_range_low                              2260668 non-null  float64
 28  fico_range_high                             2260668 non-null  float64
 29  inq_last_6mths                              2260638 non-null  float64
 30  mths_since_last_delinq                      1102166 non-null  float64
 31  mths_since_last_record                      359156 non-null   float64
 32  open_acc                                    2260639 non-null  float64
 33  pub_rec                                     2260639 non-null  float64
 34  revol_bal                                   2260668 non-null  float64
 35  revol_util                                  2258866 non-null  float64
 36  total_acc                                   2260639 non-null  float64
 37  initial_list_status                         2260668 non-null  object
 38  out_prncp                                   2260668 non-null  float64
 39  out_prncp_inv                               2260668 non-null  float64
 40  total_pymnt                                 2260668 non-null  float64
 41  total_pymnt_inv                             2260668 non-null  float64
 42  total_rec_prncp                             2260668 non-null  float64
 43  total_rec_int                               2260668 non-null  float64
 44  total_rec_late_fee                          2260668 non-null  float64
 45  recoveries                                  2260668 non-null  float64
 46  collection_recovery_fee                     2260668 non-null  float64
 47  last_pymnt_d                                2258241 non-null  object
 48  last_pymnt_amnt                             2260668 non-null  float64
 49  next_pymnt_d                                915358 non-null   object
 50  last_credit_pull_d                          2260596 non-null  object
 51  last_fico_range_high                        2260668 non-null  float64
 52  last_fico_range_low                         2260668 non-null  float64
 53  collections_12_mths_ex_med                  2260523 non-null  float64
 54  mths_since_last_major_derog                 580775 non-null   float64
 55  policy_code                                 2260668 non-null  float64
 56  application_type                            2260668 non-null  object
 57  annual_inc_joint                            120710 non-null   float64
 58  dti_joint                                   120706 non-null   float64
 59  verification_status_joint                   115730 non-null   object
 60  acc_now_delinq                              2260639 non-null  float64
 61  tot_coll_amt                                2190392 non-null  float64
 62  tot_cur_bal                                 2190392 non-null  float64
 63  open_acc_6m                                 1394538 non-null  float64
 64  open_act_il                                 1394539 non-null  float64
 65  open_il_12m                                 1394539 non-null  float64
 66  open_il_24m                                 1394539 non-null  float64
 67  mths_since_rcnt_il                          1350744 non-null  float64
 68  total_bal_il                                1394539 non-null  float64
 69  il_util                                     1191818 non-null  float64
 70  open_rv_12m                                 1394539 non-null  float64
 71  open_rv_24m                                 1394539 non-null  float64
 72  max_bal_bc                                  1394539 non-null  float64
 73  all_util                                    1394320 non-null  float64
 74  total_rev_hi_lim                            2190392 non-null  float64
 75  inq_fi                                      1394539 non-null  float64
 76  total_cu_tl                                 1394538 non-null  float64
 77  inq_last_12m                                1394538 non-null  float64
 78  acc_open_past_24mths                        2210638 non-null  float64
 79  avg_cur_bal                                 2190322 non-null  float64
 80  bc_open_to_buy                              2185733 non-null  float64
 81  bc_util                                     2184597 non-null  float64
 82  chargeoff_within_12_mths                    2260523 non-null  float64
 83  delinq_amnt                                 2260639 non-null  float64
 84  mo_sin_old_il_acct                          2121597 non-null  float64
 85  mo_sin_old_rev_tl_op                        2190391 non-null  float64
 86  mo_sin_rcnt_rev_tl_op                       2190391 non-null  float64
 87  mo_sin_rcnt_tl                              2190392 non-null  float64
 88  mort_acc                                    2210638 non-null  float64
 89  mths_since_recent_bc                        2187256 non-null  float64
 90  mths_since_recent_bc_dlq                    519701 non-null   float64
 91  mths_since_recent_inq                       1965233 non-null  float64
 92  mths_since_recent_revol_delinq              740359 non-null   float64
 93  num_accts_ever_120_pd                       2190392 non-null  float64
 94  num_actv_bc_tl                              2190392 non-null  float64
 95  num_actv_rev_tl                             2190392 non-null  float64
 96  num_bc_sats                                 2202078 non-null  float64
 97  num_bc_tl                                   2190392 non-null  float64
 98  num_il_tl                                   2190392 non-null  float64
 99  num_op_rev_tl                               2190392 non-null  float64
 100 num_rev_accts                               2190391 non-null  float64
 101 num_rev_tl_bal_gt_0                         2190392 non-null  float64
 102 num_sats                                    2202078 non-null  float64
 103 num_tl_120dpd_2m                            2107011 non-null  float64
 104 num_tl_30dpd                                2190392 non-null  float64
 105 num_tl_90g_dpd_24m                          2190392 non-null  float64
 106 num_tl_op_past_12m                          2190392 non-null  float64
 107 pct_tl_nvr_dlq                              2190237 non-null  float64
 108 percent_bc_gt_75                            2185289 non-null  float64
 109 pub_rec_bankruptcies                        2259303 non-null  float64
 110 tax_liens                                   2260563 non-null  float64
 111 tot_hi_cred_lim                             2190392 non-null  float64
 112 total_bal_ex_mort                           2210638 non-null  float64
 113 total_bc_limit                              2210638 non-null  float64
 114 total_il_high_credit_limit                  2190392 non-null  float64
 115 revol_bal_joint                             108020 non-null   float64
 116 sec_app_fico_range_low                      108021 non-null   float64
 117 sec_app_fico_range_high                     108021 non-null   float64
 118 sec_app_earliest_cr_line                    108021 non-null   object
 119 sec_app_inq_last_6mths                      108021 non-null   float64
 120 sec_app_mort_acc                            108021 non-null   float64
 121 sec_app_open_acc                            108021 non-null   float64
 122 sec_app_revol_util                          106184 non-null   float64
 123 sec_app_open_act_il                         108021 non-null   float64
 124 sec_app_num_rev_accts                       108021 non-null   float64
 125 sec_app_chargeoff_within_12_mths            108021 non-null   float64
 126 sec_app_collections_12_mths_ex_med          108021 non-null   float64
 127 sec_app_mths_since_last_major_derog         35942 non-null    float64
 128 hardship_flag                               2260668 non-null  object
 129 hardship_type                               10917 non-null    object
 130 hardship_reason                             10917 non-null    object
 131 hardship_status                             10917 non-null    object
 132 deferral_term                               10917 non-null    float64
 133 hardship_amount                             10917 non-null    float64
 134 hardship_start_date                         10917 non-null    object
 135 hardship_end_date                           10917 non-null    object
 136 payment_plan_start_date                     10917 non-null    object
 137 hardship_length                             10917 non-null    float64
 138 hardship_dpd                                10917 non-null    float64
 139 hardship_loan_status                        10917 non-null    object
 140 orig_projected_additional_accrued_interest  8651 non-null     float64
 141 hardship_payoff_balance_amount              10917 non-null    float64
 142 hardship_last_payment_amount                10917 non-null    float64
 143 disbursement_method                         2260668 non-null  object
 144 debt_settlement_flag                        2260668 non-null  object
 145 debt_settlement_flag_date                   34246 non-null    object
 146 settlement_status                           34246 non-null    object
 147 settlement_date                             34246 non-null    object
 148 settlement_amount                           34246 non-null    float64
 149 settlement_percentage                       34246 non-null    float64
 150 settlement_term                             34246 non-null    float64
dtypes: float64(113), object(38)
memory usage: 2.5+ GB

In [17]:
df1.drop(['member_id'], axis = 1,inplace = True)

In [18]:
df1.shape

(2260701, 150)

In [19]:
df1.describe

<bound method NDFrame.describe of                                                        id  ...  settlement_term
0                                                68407277  ...              NaN
1                                                68355089  ...              NaN
2                                                68341763  ...              NaN
3                                                66310712  ...              NaN
4                                                68476807  ...              NaN
...                                                   ...  ...              ...
2260696                                          88985880  ...              NaN
2260697                                          88224441  ...              1.0
2260698                                          88215728  ...              NaN
2260699  Total amount funded in policy code 1: 1465324575  ...              NaN
2260700   Total amount funded in policy code 2: 521953170  ...              NaN

[2260701 rows x 150 columns]>

In [20]:
df1.columns

Index(['id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=150)

In [21]:
df1['loan_status'].unique()

array(['Fully Paid', 'Current', 'Charged Off', 'In Grace Period',
       'Late (31-120 days)', 'Late (16-30 days)', 'Default', nan,
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [22]:
df1['loan_status'].value_counts(dropna=False)

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
NaN                                                         33
Name: loan_status, dtype: int64

In [23]:
# Only keep the values associated with "Fully Paid" and "Charged Off"
df1 = df1.loc[df1['loan_status'].isin(['Fully Paid', 'Charged Off'])]

In [24]:
df1.shape

(1345310, 150)

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345310 entries, 0 to 2260697
Columns: 150 entries, id to settlement_term
dtypes: float64(112), object(38)
memory usage: 1.5+ GB

In [26]:
df1.describe().T

                                    count          mean  ...         75%       max
loan_amnt                       1345310.0  14419.972014  ...  20000.0000  40000.00
funded_amnt                     1345310.0  14411.556630  ...  20000.0000  40000.00
funded_amnt_inv                 1345310.0  14389.141598  ...  20000.0000  40000.00
int_rate                        1345310.0     13.239619  ...     15.9900     30.99
installment                     1345310.0    438.075533  ...    580.7300   1719.83
...                                   ...           ...  ...         ...       ...
hardship_payoff_balance_amount     5754.0  10995.141594  ...  15302.3600  39542.45
hardship_last_payment_amount       5754.0    184.689314  ...    267.6050   1407.86
settlement_amount                 33276.0   5029.933417  ...   6884.2375  33601.00
settlement_percentage             33276.0     47.691708  ...     50.0000    521.35
settlement_term                   33276.0     13.158132  ...     18.0000    181.00

[112 rows x 8 columns]

In [27]:
miss_data = df1.isnull().sum().sort_values(ascending= False)
drop_columns = list(miss_data[miss_data > df1.shape[0] *0.30].index) 
df1 = df1.drop(drop_columns, axis = 1)

In [28]:
miss_data

next_pymnt_d                                  1345310
orig_projected_additional_accrued_interest    1341551
hardship_start_date                           1339556
hardship_length                               1339556
hardship_type                                 1339556
                                               ...
pub_rec                                             0
open_acc                                            0
disbursement_method                                 0
application_type                                    0
id                                                  0
Length: 150, dtype: int64

In [29]:
miss_data.shape

(150,)

In [30]:
df1.shape

(1345310, 93)

In [31]:
df1['grade'].unique()

array(['C', 'B', 'F', 'A', 'E', 'D', 'G'], dtype=object)

In [33]:
df1["grade"].value_counts()

B    392741
C    381686
A    235090
D    200953
E     93650
F     32058
G      9132
Name: grade, dtype: int64

In [34]:
df1['sub_grade'].unique()

array(['C4', 'C1', 'B4', 'F1', 'C3', 'B2', 'B1', 'A2', 'B5', 'C2', 'E2',
       'A4', 'E3', 'C5', 'A1', 'D4', 'F3', 'D1', 'B3', 'D3', 'D5', 'A5',
       'F2', 'E4', 'D2', 'E1', 'F5', 'E5', 'A3', 'G2', 'G1', 'G3', 'G4',
       'F4', 'G5'], dtype=object)

In [35]:
df1["sub_grade"].value_counts()

C1    85494
B4    83199
B5    82538
B3    81827
C2    79213
C3    74998
C4    74421
B2    74024
B1    71153
C5    67560
A5    64003
A4    52235
D1    51321
D2    44848
A1    43678
D3    39317
A3    37996
A2    37178
D4    35566
D5    29901
E1    23749
E2    21377
E3    18387
E4    15720
E5    14417
F1     9970
F2     7198
F3     6088
F4     4859
F5     3943
G1     2997
G2     2131
G3     1614
G4     1280
G5     1110
Name: sub_grade, dtype: int64

In [36]:
df1['home_ownership'].unique()

array(['MORTGAGE', 'RENT', 'OWN', 'ANY', 'NONE', 'OTHER'], dtype=object)

In [37]:
df1['int_rate'].unique()

array([13.99, 11.99, 10.78, 22.45, 13.44,  9.17,  8.49,  6.49, 11.48,
       12.88, 19.48,  7.49, 19.89, 14.85,  5.32, 17.97, 24.24, 15.77,
        9.8 , 17.27, 18.49,  7.91, 23.13, 20.5 , 16.59, 18.99, 26.06,
       21.48,  6.99, 27.49, 26.99, 27.99, 28.49,  6.  , 25.09, 28.99,
       16.55,  7.89, 12.59, 13.67, 10.64,  7.26, 17.86, 14.48, 13.18,
        6.24,  8.38, 15.41,  9.76, 21.99, 16.99, 25.99, 17.57, 18.2 ,
       22.99,  6.89, 11.22, 19.99, 27.31, 20.99, 27.88, 23.99, 24.99,
       26.77, 12.05,  8.18,  9.99, 11.49, 10.99, 14.33, 16.9 , 11.53,
       18.55, 14.65, 13.33, 12.69, 18.25, 19.19, 12.29, 15.61, 25.78,
       19.52, 24.5 ,  6.39,  5.93,  6.92,  6.68, 21.67, 20.49, 25.8 ,
       18.84, 25.57, 25.83, 25.89,  8.67, 14.99, 17.14,  8.19, 10.49,
       11.44,  6.03, 12.39, 15.59,  9.49, 13.66, 14.31, 12.99, 15.99,
       16.49, 19.24, 18.54,  7.34, 11.98, 21.85, 20.39,  9.43,  5.31,
        6.07, 14.07, 15.04, 18.45, 10.9 , 13.58, 17.47, 16.01,  7.96,
       23.87, 30.65, 24.84, 25.81, 10.41, 12.61,  6.71, 19.42,  9.92,
       22.9 , 28.72, 30.75, 30.79, 29.69, 20.  , 30.94, 30.17,  6.08,
       23.88, 10.42,  6.72, 10.91, 21.45, 25.82, 12.62,  7.35, 18.06,
       14.08,  9.44, 16.02,  7.97,  9.93, 26.3 , 24.85, 15.05, 22.91,
       13.59, 19.03, 17.09, 30.89, 30.84,  7.21,  7.07, 30.99, 13.49,
       14.49, 12.79, 24.49, 22.39, 17.99, 16.29,  8.59, 11.47, 25.29,
        7.99, 21.49, 28.88, 28.18, 26.49, 25.69,  8.99, 27.79,  7.59,
       29.96, 15.31,  7.39, 14.46,  9.75, 29.67,  9.16, 10.75,  6.97,
        8.39, 25.65, 23.32, 25.11, 22.35, 26.14, 25.44, 27.34, 24.11,
       21.97, 21.18, 19.53, 25.88, 26.57, 20.75, 28.67, 28.34, 28.14,
       13.56,  8.46, 12.73,  6.67, 16.14, 18.94, 15.02, 20.89, 10.08,
       11.55,  6.11, 16.91,  7.84, 14.47, 19.92, 10.47, 23.4 , 11.06,
       27.27, 25.34, 24.37, 26.31,  9.58,  8.08, 10.07, 12.13, 15.49,
       16.46,  7.46,  6.83, 11.05, 10.56,  6.19, 13.06, 14.03, 14.52,
       22.74, 11.39, 12.74,  8.24, 26.24,  7.24, 29.49, 24.74, 28.69,
       29.99, 25.49, 30.74, 30.49, 15.29, 11.16, 13.19, 14.77,  7.69,
       13.98, 11.67, 12.49, 23.43, 10.15, 13.35, 22.15, 18.24,  7.12,
       20.2 , 24.08, 13.65, 14.64,  9.67,  8.9 , 14.16, 18.92,  6.62,
        7.9 ,  7.62, 19.47, 14.98, 12.85, 23.7 , 19.97, 16.24, 19.22,
       13.53, 22.4 , 19.2 ,  7.56, 11.31, 11.8 , 10.72,  7.02, 12.98,
       10.33,  8.81,  6.46, 10.65, 15.27, 15.96, 18.64, 21.28,  9.91,
       11.71, 12.42, 14.27, 16.77,  7.51, 19.91, 17.58, 22.06, 20.3 ,
       23.91, 23.52, 22.11,  5.99, 18.79, 15.23, 14.79,  5.42, 10.59,
       17.49, 15.62, 21.36, 19.29, 18.39, 16.89, 20.62, 22.85, 19.69,
       20.25, 23.22, 21.74, 22.48, 23.59, 18.07, 11.63,  7.42, 11.14,
       12.12, 19.39, 16.11, 17.54, 22.64, 13.84, 17.19, 12.87, 20.69,
       21.82, 19.79, 22.94, 24.59, 24.4 , 14.82, 14.17,  7.29, 17.88,
       20.11, 17.51, 13.43, 14.91, 15.28, 15.65, 11.11, 10.37, 16.4 ,
        7.66, 10.  , 18.62, 10.74,  5.79,  9.63, 14.54, 12.68, 19.36,
       13.8 , 21.59, 20.85, 21.22, 19.74, 20.48,  6.91, 12.23, 10.36,
        6.17,  6.54,  9.25, 16.69, 15.95,  8.88,  9.62, 16.32, 14.83,
       13.72, 14.09, 20.03, 17.8 , 15.2 , 15.57, 19.66, 17.06, 18.17,
       17.43, 20.4 , 20.77, 18.91, 21.14, 17.44, 13.23,  7.88, 11.12,
       13.61, 10.38, 17.56, 17.93, 15.58, 14.84, 15.21,  6.76, 11.86,
        7.14, 14.35, 16.82, 14.72, 16.45, 18.67, 20.53, 19.41, 20.16,
       21.27, 18.3 , 19.04, 20.9 , 21.64, 10.25, 13.11, 10.62, 13.48,
       14.59, 16.07, 15.7 ,  9.88, 11.36, 15.33, 13.85, 14.96, 14.22,
        7.74, 13.22, 13.57, 17.04, 14.61,  8.94, 12.18, 11.83, 16.35,
       13.92, 14.26, 19.13, 12.53, 16.7 , 16.  , 17.39, 18.09,  7.4 ,
       18.43, 17.74,  7.05, 20.52, 20.86, 18.78, 21.21, 19.82, 20.17,
       13.16,  8.  , 13.47, 12.21, 16.63,  9.32, 12.84, 11.26, 15.68,
       15.37, 10.95, 11.89, 14.11, 13.79,  7.68, 11.58,  7.37, 16.95,
       18.53, 14.74, 14.42, 18.21, 17.26, 17.9 , 19.16,  9.38, 12.72,
       13.36, 11.46, 10.51,  9.07, 13.04, 11.78, 12.41, 10.83, 12.09,
       17.46, 14.3 , 17.15, 15.25, 10.2 , 15.88, 14.93, 16.2 , 18.72,
       14.62,  8.32, 14.12, 10.96, 10.01, 12.86, 11.28, 11.59,  8.63,
       12.54, 12.22, 11.91, 15.38, 16.96, 13.17,  9.7 , 16.33, 14.75,
       15.07, 10.71, 11.34, 10.39, 13.87, 11.03, 11.66, 13.24,  9.45,
       13.55, 11.97, 12.92, 15.45, 14.5 , 14.18, 15.13, 16.08, 15.76,
       17.03, 17.34, 16.71,  9.83, 13.62, 10.46,  9.51,  9.2 , 13.3 ,
        7.75, 12.36, 12.67, 11.72, 13.93,  8.07,  7.43, 12.04, 14.25,
       14.88, 11.41, 11.09, 10.14, 16.15, 15.83, 18.36,  9.64,  9.96,
        9.01,  9.33, 11.54, 12.17, 12.8 , 14.38, 13.75, 14.7 , 13.12,
       10.28,  8.7 , 14.67, 15.01, 17.76, 21.7 , 15.1 , 17.1 , 23.1 ,
       21.  ,  8.6 , 13.68, 15.22,  9.71, 21.6 , 22.2 , 22.7 , 16.78,
       18.85, 13.05, 23.5 , 12.35, 24.89, 21.15, 20.8 , 20.31, 25.28,
       15.8 , 19.05, 18.75, 10.16, 19.72, 23.76, 17.77, 23.28, 21.98,
       24.7 , 23.83, 23.63, 22.95, 22.47, 24.83, 15.81, 22.78, 23.33,
       24.2 , 24.76, 24.33, 23.26, 24.52, 14.28])

In [38]:
df1["int_rate"].value_counts()

10.99    37654
11.99    33110
13.99    29359
5.32     28819
9.17     26048
         ...
22.64        1
16.96        1
20.52        1
17.46        1
16.71        1
Name: int_rate, Length: 654, dtype: int64

In [39]:
df1.shape

(1345310, 93)

In [40]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345310 entries, 0 to 2260697
Data columns (total 93 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   id                          1345310 non-null  object
 1   loan_amnt                   1345310 non-null  float64
 2   funded_amnt                 1345310 non-null  float64
 3   funded_amnt_inv             1345310 non-null  float64
 4   term                        1345310 non-null  object
 5   int_rate                    1345310 non-null  float64
 6   installment                 1345310 non-null  float64
 7   grade                       1345310 non-null  object
 8   sub_grade                   1345310 non-null  object
 9   emp_title                   1259525 non-null  object
 10  emp_length                  1266799 non-null  object
 11  home_ownership              1345310 non-null  object
 12  annual_inc                  1345310 non-null  float64
 13  verification_status         1345310 non-null  object
 14  issue_d                     1345310 non-null  object
 15  loan_status                 1345310 non-null  object
 16  pymnt_plan                  1345310 non-null  object
 17  url                         1345310 non-null  object
 18  purpose                     1345310 non-null  object
 19  title                       1328651 non-null  object
 20  zip_code                    1345309 non-null  object
 21  addr_state                  1345310 non-null  object
 22  dti                         1344936 non-null  float64
 23  delinq_2yrs                 1345310 non-null  float64
 24  earliest_cr_line            1345310 non-null  object
 25  fico_range_low              1345310 non-null  float64
 26  fico_range_high             1345310 non-null  float64
 27  inq_last_6mths              1345309 non-null  float64
 28  open_acc                    1345310 non-null  float64
 29  pub_rec                     1345310 non-null  float64
 30  revol_bal                   1345310 non-null  float64
 31  revol_util                  1344453 non-null  float64
 32  total_acc                   1345310 non-null  float64
 33  initial_list_status         1345310 non-null  object
 34  out_prncp                   1345310 non-null  float64
 35  out_prncp_inv               1345310 non-null  float64
 36  total_pymnt                 1345310 non-null  float64
 37  total_pymnt_inv             1345310 non-null  float64
 38  total_rec_prncp             1345310 non-null  float64
 39  total_rec_int               1345310 non-null  float64
 40  total_rec_late_fee          1345310 non-null  float64
 41  recoveries                  1345310 non-null  float64
 42  collection_recovery_fee     1345310 non-null  float64
 43  last_pymnt_d                1342997 non-null  object
 44  last_pymnt_amnt             1345310 non-null  float64
 45  last_credit_pull_d          1345255 non-null  object
 46  last_fico_range_high        1345310 non-null  float64
 47  last_fico_range_low         1345310 non-null  float64
 48  collections_12_mths_ex_med  1345254 non-null  float64
 49  policy_code                 1345310 non-null  float64
 50  application_type            1345310 non-null  object
 51  acc_now_delinq              1345310 non-null  float64
 52  tot_coll_amt                1277783 non-null  float64
 53  tot_cur_bal                 1277783 non-null  float64
 54  total_rev_hi_lim            1277783 non-null  float64
 55  acc_open_past_24mths        1298029 non-null  float64
 56  avg_cur_bal                 1277761 non-null  float64
 57  bc_open_to_buy              1284167 non-null  float64
 58  bc_util                     1283398 non-null  float64
 59  chargeoff_within_12_mths    1345254 non-null  float64
 60  delinq_amnt                 1345310 non-null  float64
 61  mo_sin_old_il_acct          1239735 non-null  float64
 62  mo_sin_old_rev_tl_op        1277782 non-null  float64
 63  mo_sin_rcnt_rev_tl_op       1277782 non-null  float64
 64  mo_sin_rcnt_tl              1277783 non-null  float64
 65  mort_acc                    1298029 non-null  float64
 66  mths_since_recent_bc        1285089 non-null  float64
 67  mths_since_recent_inq       1171239 non-null  float64
 68  num_accts_ever_120_pd       1277783 non-null  float64
 69  num_actv_bc_tl              1277783 non-null  float64
 70  num_actv_rev_tl             1277783 non-null  float64
 71  num_bc_sats                 1289469 non-null  float64
 72  num_bc_tl                   1277783 non-null  float64
 73  num_il_tl                   1277783 non-null  float64
 74  num_op_rev_tl               1277783 non-null  float64
 75  num_rev_accts               1277782 non-null  float64
 76  num_rev_tl_bal_gt_0         1277783 non-null  float64
 77  num_sats                    1289469 non-null  float64
 78  num_tl_120dpd_2m            1227909 non-null  float64
 79  num_tl_30dpd                1277783 non-null  float64
 80  num_tl_90g_dpd_24m          1277783 non-null  float64
 81  num_tl_op_past_12m          1277783 non-null  float64
 82  pct_tl_nvr_dlq              1277629 non-null  float64
 83  percent_bc_gt_75            1283755 non-null  float64
 84  pub_rec_bankruptcies        1344613 non-null  float64
 85  tax_liens                   1345271 non-null  float64
 86  tot_hi_cred_lim             1277783 non-null  float64
 87  total_bal_ex_mort           1298029 non-null  float64
 88  total_bc_limit              1298029 non-null  float64
 89  total_il_high_credit_limit  1277783 non-null  float64
 90  hardship_flag               1345310 non-null  object
 91  disbursement_method         1345310 non-null  object
 92  debt_settlement_flag        1345310 non-null  object
dtypes: float64(69), object(24)
memory usage: 964.8+ MB

In [41]:
df1.describe

<bound method NDFrame.describe of                id  loan_amnt  ...  disbursement_method  debt_settlement_flag
0        68407277     3600.0  ...                 Cash                     N
1        68355089    24700.0  ...                 Cash                     N
2        68341763    20000.0  ...                 Cash                     N
4        68476807    10400.0  ...                 Cash                     N
5        68426831    11950.0  ...                 Cash                     N
...           ...        ...  ...                  ...                   ...
2260688  89905081    18000.0  ...                 Cash                     N
2260690  88948836    29400.0  ...                 Cash                     N
2260691  89996426    32000.0  ...                 Cash                     N
2260692  90006534    16000.0  ...                 Cash                     N
2260697  88224441    24000.0  ...                 Cash                     Y

[1345310 rows x 93 columns]>

In [42]:
df.head()

   Amount Requested Application Date  ... Employment Length  Policy Code
0            1000.0       2007-05-26  ...           4 years          0.0
1            1000.0       2007-05-26  ...          < 1 year          0.0
2           11000.0       2007-05-27  ...            1 year          0.0
3            6000.0       2007-05-27  ...          < 1 year          0.0
4            1500.0       2007-05-27  ...          < 1 year          0.0

[5 rows x 9 columns]

In [43]:
df.isnull()

          Amount Requested  Application Date  ...  Employment Length  Policy Code
0                    False             False  ...              False        False
1                    False             False  ...              False        False
2                    False             False  ...              False        False
3                    False             False  ...              False        False
4                    False             False  ...              False        False
...                    ...               ...  ...                ...          ...
27648736             False             False  ...              False        False
27648737             False             False  ...              False        False
27648738             False             False  ...              False        False
27648739             False             False  ...              False        False
27648740             False             False  ...              False        False

[27648741 rows x 9 columns]

In [44]:
df.isnull().sum(axis = 0)

Amount Requested               0
Application Date               0
Loan Title                  1303
Risk_Score              18497630
Debt-To-Income Ratio           0
Zip Code                     293
State                         22
Employment Length         951355
Policy Code                  918
dtype: int64

In [45]:
df.shape

(27648741, 9)

In [46]:
df.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27648741 entries, 0 to 27648740
Data columns (total 9 columns):
 #   Column                Non-Null Count     Dtype
---  ------                --------------     -----
 0   Amount Requested      27648741 non-null  float64
 1   Application Date      27648741 non-null  object
 2   Loan Title            27647438 non-null  object
 3   Risk_Score            9151111 non-null   float64
 4   Debt-To-Income Ratio  27648741 non-null  object
 5   Zip Code              27648448 non-null  object
 6   State                 27648719 non-null  object
 7   Employment Length     26697386 non-null  object
 8   Policy Code           27647823 non-null  float64
dtypes: float64(3), object(6)
memory usage: 1.9+ GB

In [ ]:
cateogry_columns=df.select_dtypes(include=['object']).columns.tolist()
integer_columns=df.select_dtypes(include=['int64','float64']).columns.tolist()

for column in df:
    if df[column].isnull().any():
        if(column in cateogry_columns):
            df[column]=df[column].fillna(df[column].mode()[0])
        else:
            df[column]=df[column].fillna(df[column].mean)

In [ ]:
df['Employment Length']

In [ ]:
df['Employment Length'].isnull()

In [ ]:
df.isnull().sum(axis = 0)

In [ ]:
df['Loan Title'].unique()

In [ ]:
df["Loan Title"].value_counts()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
loan = df1['loan_status'].value_counts()

In [ ]:
plt.figure(figsize=(14,8))

sns.barplot(y = loan.index, x = loan,color = 'purple')
plt.title('Loan Staus Values for Lending Club',fontsize=15)
plt.ylabel('Loan Status', fontsize=10)
plt.xlabel('Count',fontsize=10)

In [ ]:
gr = df1['grade'].value_counts()

In [ ]:
plt.figure(figsize=(14,8))

sns.barplot(y=gr.index, x=gr)
plt.title('Loan Grades', fontsize=30)
plt.ylabel('Loan Grade', fontsize=15)
plt.xlabel('Count', fontsize=15)

In [ ]:
combined_dataset = df1.join(df)

In [ ]:
plt.figure(figsize=(30,12))
sns.boxplot(x="installment", y="grade", data=combined_dataset, palette="husl")
plt.title('Box Plot of Installment value vs. Loan Grade', fontsize=25)
plt.xlabel('Installment', fontsize=15)
plt.ylabel('Loan Grade', fontsize=15)
plt.xticks(fontsize=20)
plt.yticks(fontsize=20)
plt.show()

In [ ]:
corr = combined_dataset.corr()

# Plot the heatmap
plt.figure(figsize=(14,14))
sns.heatmap(corr, 
        xticklabels=corr.columns,
        yticklabels=corr.columns,
        cmap='coolwarm')